@import './colors.scss';
@import './typography.scss';

.hotel {
  font-weight: 300;    
  font-family: $montserrat;
  text-align: center;

  &__name {    
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 1.5em;
    @media screen and (max-width: 900px) {
      border-bottom: 1px solid hsla(6, 78, 67, 0.8);

      &.link:after {
        display: none;
      }
    }
    @media screen and (max-width: 767px) {
      font-size: 1em;      
    }
  }

  &__address {
    margin-bottom: 2rem;
    color: hsla(0, 0, 100%, 0.6 );
    @media screen and (max-width: 767px) {
      margin-bottom: 1rem;
    }

    > p {
      margin: 6px 0;
    }
  }

  &__link.link {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.3em;    
    @media screen and (max-width: 900px) {
      padding-left: 0;
      padding-right: 0;
      font-size: 1em;

      &:after {
        display: none;
      }

      > span {
        position: relative;
        border-bottom: 1px solid hsla(6, 78, 67, 0.8);        
      }      
    }
  }
  
  &__directions {
    max-width: 600px;    
    margin: 0 auto;

    iframe {
      width: 100%;      
    }
  }

  &__accommodations {
    @media screen and (max-width: 767px) {
      margin-left: -0.5rem;
      margin-right: -0.5rem;
    }

    &__name {
      margin-top: 0;
      font-size: 1.5em;
      @media screen and (max-width: 767px) {
        font-size: 1em;        
      }
    }
  }
}