@import './colors.scss';
@import './typography.scss';

.hotel {
  font-weight: 300;    
  font-family: $montserrat;
  text-align: center;

  &__name {    
    position: relative;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 1.5em;
    
    &:after {
      content: '';
      z-index: -1;
      position: absolute;
      bottom: 3px;
      left: 0;
      display: block;
      height: 4px;
      width: 100%;
      background: hsla(6, 78, 67, 0.8);      
      transition: bottom 0.25s, height 0.25s;
    }
  }

  &__address {
    margin-bottom: 2rem;

    > p {
      margin: 6px 0;
    }
  }

  &__link {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.3em;
    font-family: $montserrat;    
    color: #fff;
    text-decoration: none;
    transition: color 0.25s;    

    &:hover {      
      text-decoration: none;
      color: $blue;
      &:after {
        bottom: -1px;
        height: 27px;
      }
    }
    
    &:after {
      content: '';
      z-index: -1;
      position: absolute;
      bottom: 3px;
      left: 0;
      display: block;
      height: 4px;
      width: 100%;
      background: hsla(6, 78, 67, 0.8);      
      transition: bottom 0.25s, height 0.25s;
    }
  }    
}