@import './colors.scss';
@import './typography.scss';

.parking {

  &__garages {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: $montserrat;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }

    > ul {
      padding: 0;
      list-style: none;
      @media screen and (max-width: 767px) {
        margin: 0;

        &:first-child {
          margin-left: -1em;
        }
      }
    }

    &__garage {
      margin-bottom: 2rem;
      
      > p {
        margin: 6px 0;

        &:first-child {
          color: hsla( 0, 100%, 100%, 0.6 );
        }
      }

      .address,
      .pricing {
        font-size: 0.8em;
      }

      .pricing {        
        color: $coral;

        > span {
          
          &:first-child {
            margin-right: 1rem;
          }
        }

        .price {
          margin-left: 10px;
          color: #fff;
          @media screen and (max-width: 767px) {
            margin-left: 5px;
          }
        }
      }      
    }
  }

}